# Basic
*.pyc
*.pyo
*.egg-info
*.swp
*.egg
__pycache__
.DS_Store
.installed.cfg
.tox
.coverage*
.pytest_cache/
.pdm-python
pdm.lock
.idea/
.venv
venv/
cache
.vscode
.env

# Project
data_base/.env



# Other
build
develop-eggs
dist
eggs
parts
docs/_build
htmlcov/




